@charset "utf-8";

:root {
	--px2-main-color: #00a0e6;
	--px2-text-color: #333;
	--px2-background-color: #f9f9f9;
}
.canvas{
    display:block;
    position:relative;
    float: left;
    width: 75%;
    height: 600px;
    overflow: auto;
}
.palette{
    display:block;
    position:relative;
    float: right;
    width: 23%;
    height: 600px;
    overflow: auto;
}
.test-funcs {
    clear: both;
}
